fastapi==0.109.2
uvicorn==0.27.1
pymongo==4.6.1
openai==1.12.0
python-multipart==0.0.9
langchain==0.1.9
pypdf==4.0.1
tiktoken==0.6.0
numpy==1.26.3
pydantic==2.6.4
pydantic-core==2.16.3
pydantic-settings==2.2.1
python-dotenv==1.0.0
